{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-12">
    <article >
      <div class="blog-header">
        <h1 style="text-align: left !important;">{{ .Title }}</h1>
        {{ partial "main/blog-meta.html" . }}
      </div>
      <!-- <p class="lead">{{ .Params.lead | safeHTML }}</p> -->
      {{ .Content }}
    </article>
    <p><h3>Make sure to subscribe below for your Self Improvement </h3></p>
    <p><h4>Follow on <a href="https://www.instagram.com/modernmonkvibes/" target="_blank">Instagram</a></h4></p>
    <p><h4>Make sure to subscribe below for your Self Improvement </h4></p>
    <iframe id="subscribe" src="https://modernmonkvibes.substack.com/embed" width="880" height="380" style="border:2px dashed #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </div>
 
</div>
{{ end }}